/* @import '../../../../../styles/styleguide/index.css'; */
/* @import './variables.css'; */
.ps-scene__menu-content{
    background-color: var(--color-primary) !important;
    width: var(--ps-menu-width);
}
.ps-scene__menu-items{
    text-align: center;
    color: var(--color-secondary);
}